@font-face{
    font-family: 'butler';
    src: url(../../polices/butler/Butler.woff)format('woff');
    src: url(../../polices/butler/Butler.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans';
    src: url(../../polices/open_sans/opensans-regular-webfont.woff) format(woff);
    src: url(../../polices/open_sans/opensans-regular-webfont.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url(../../polices/poppins/poppins-regular-webfont.woff) format(woff);
    src: url(../../polices/poppins/poppins-regular-webfont.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nobile';
    src: url(../../polices/nobile/nobile-regular-webfont.woff) format(woff);
    src: url(../../polices/nobile/nobile-regular-webfont.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}
a{
    color:black;

}

a:link{
    color:black;
}
a:visited{
    color:black;
}
a:focus{
    color:red;
}
a:active{
    color:#E8FCFE;
}


.Accueil .header{
    width:50px;
    height:50px;
    display:inline-block;
    position:absolute;
    background-color:black;
    left:370px;
    top:190px;
}

.Accueil h2{
    font-family: 'poppins', arial, open-sans;
}

button{
    z-index:1;
}

body{
    background-color: #E8FCFE;
}

li{
    border: solid 1px red;
}

.Accueil header{
    background-color: #6AB0FE;
    padding:1em;
    border-bottom: 2px solid black;

}

.Accueil header article section nav ul{
    font-family: 'nobile', arial, sans-serif;
    background-color: #7BC8E8;
    border-radius: 30px;
    border: 2px solid black;
}

.Accueil header article section nav ul li{
    font-size: 2em;
    list-style: none;
    text-align: center;
}

.Accueil main{
    text-align: center;
}

.Accueil main section{
    margin:1em;
}

.Accueil main section article{
    text-align: center;
}

.Accueil footer{
    background-color: #6AB0FE;
    border: 1px solid black;
    height:40px;
}

.Accueil main div p{
    font-size: 5em;
}
.Accueil .separation{
    font-weight: bold;
    font-size: 5px;
}

.Accueil #Carousel{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 5em;
}

.Accueil #Carousel img{
    height: 300px;
}

.Accueil .slide_1 img{
    padding: 0px;
    margin: 0px;
}

.Accueil #Carousel{
    font-family: 'poppins', arial, open-sans;
}

@media screen and (min-width: 992px) and (max-width: 1000000px) {

    .Accueil .slide_1 img{
        width:33%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .Accueil .slide_1 img{
        width:50%;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {

    .Accueil .slide_1 img{
        width:90%;
    }
}

.Accueil .slide_1{
    height:450px;
    background-color: white;
}
.Accueil .slide_1 h2:first-child{
    border-radius: 10px;
    padding: 0.5em;
}

.Accueil .slide_1 img+h2{
    border-radius: 10px;
    padding: 0.5em;
}


.Accueil .slide_2 {
    background-image: url(../../PHOTOS/Fruits_framboises.jpg);
    background-repeat: no-repeat;
    height:450px;

}
.Accueil .slide_2 h2:first-child{
    width:auto;
    border-radius: 10px;
    padding: 0.5em;
    color: white;
}

.Accueil .slide_3 h2:first-child {
    border-radius: 10px;
    padding: 0.5em;
    color: white;
}

.Accueil .slide_3 figure+h2{
    border-radius: 10px;
    padding: 0.5em;
    color: white;
}

.Accueil .slide_3 {
    background-color: #6AB0FE;
    height:450px;  
}

/*******POUR LES FAMILLES*********/

.Accueil main div+section article:first-child{
    background-image: url(../../PHOTOS/photo_famille.jpg);
}

/*******POUR LES PROFESSIONNEL*********/

.Accueil main div+section article+article{
    background-image: url(../../PHOTOS/Pro.jpeg);
}

/*******OU SOMMES NOUS*********/

.Accueil main section+section div article{
    background-image: url(../../PHOTOS/bretagne.png);
}
/*******QUI SOMMES NOUS*********/

.Accueil main section+section div article+article{
    background-image: url(../../PHOTOS/Bac_glace2.jpg);

}
.Accueil main article{
    height:300px;
    width:450px;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 5px 0px 10px black;
}

.Accueil main article{
    margin: 2em;
}

.Accueil main section h2{
    background-color: rgba(0,0,0, 0.3);
    border-radius: 10px;
    padding: 0.5em;
    color: white;
    border-radius: 10px;
}

.Accueil main div+section div article figure img{
    border-radius: 10px;
}